body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('il_1140xN.2285826726_el9k.jpg') center/cover fixed;
    background-attachment: fixed;
    background-size: cover;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.polaroid {
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.polaroid img {
    width: 50%; /* Resize the image to half its original size */
    height: auto;
    object-fit: cover;
    border: 10px solid white; /* Polaroid border */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description {
    margin-left: 20px;
    max-width: 50%;
}

.description h2 {
    font-size: 24px;
    margin: 0;
}

.description p {
    margin-top: 10px;
}
