/* Reset some default styles */
body, h1, p, img {
    margin: 0;
    padding: 0;
}

/* Create a scrolling background image */
.background-image {
    background-image: url('pexels-photo-2516418.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

/* Style the rectangular shape for wedding details */
.wedding-details {
    background-color: rgba(255, 228, 196, 0.7);
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
}

/* Style the cursive text */
.cursive-text {
    font-family: cursive;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Style the image links with circular frames */
.image-links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-link {
    text-align: center;
    margin: 0 20px;
}

.image-link img {
    border-radius: 50%;
    border: 3px solid rgba(255, 228, 196, 0.7);
    width: 150px;
    height: 150px;
}

/* Style the descriptions */
.image-link p {
    margin-top: 10px;
    font-weight: bold;
}


/* Style for language buttons */
.language-buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.flag-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 5px;
}

.flag-icon {
    width: 24px;
    height: auto;
    margin-right: 5px;
}

/* Style for content */
.content {
    text-align: center;
    margin: 20px;
}

