/* Reset some default styles */
body, h1, p, img {
    margin: 0;
    padding: 0;
}

/* Create a scrolling background image */
.background-image {
    background-image: url('pexels-photo-2516418.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

/* Style the rectangular shape for wedding details */
.wedding-details {
    background-color: rgba(255, 228, 196, 0.7);
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
}

/* Style the image links with circular frames */
.image-links {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.image-link {
    text-align: center;
    margin: 0 20px;
}

.image-link img {
    border-radius: 50%;
    border: 3px solid rgba(255, 228, 196, 0.7);
    width: 150px;
    height: 150px;
}

/* Style the descriptions */
.image-link p {
    margin-top: 10px;
    font-weight: bold;
}

/* Style the language switch button */
.language-switch {
    text-align: center;
    margin: 10px;
}

.language-switch button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
}

/* Define styles for the sections */
body {
    text-align: center;
    font-family: 'Garamond', serif; /* Apply a default font */
}

.section {
    margin: 20px 0;
}

/* Style for the title section */


.title {
    font-size: 72px;
    font-family: 'Alex Brush', cursive;
}

/* Style for the date and location sections */
.date-location {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.date {
    font-weight: bold;
}

.separator {
    border-right: 2px solid #000;
    margin: 0 20px;
    height: 100px;
}

.location {
    font-weight: bold;
}

/* Style for the event sections */
.event {
    font-size: 36px;
    font-weight: bold;
}

.event-details {
    font-size: 24px;
}

/* Style for the horizontal line */
.divider {
    border-top: 2px solid #000;
    margin: 20px auto;
    width: 80%;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    /* Adjust styles for smaller screens (e.g., mobile devices) */
        .wedding-details {
        width: 90%;
    }

    .image-link img {
        width: 100px;
        height: 100px;
    }

    .section.date-location .date,
    .section.event-details span {
        white-space: pre-line;
    }

    /* Add more responsive styles as needed */
}

